:root {
  --pittorica-font-family:
    'Inter Variable', Inter, system-ui, -apple-system, sans-serif;
  --pittorica-font-heading: 'Momo Trust Display', sans-serif;
  --pittorica-font-code: ui-monospace, SFMono-Regular, monospace;
  --pittorica-font-strong: inherit;
  --pittorica-font-em: inherit;
  --pittorica-font-quote: inherit;
}

.pittorica-theme {
  --pittorica-source-color: #75485e;
}

body {
  color: var(--pittorica-white);
}
